# Анализ данных на Python

## Семинар 2. Условный оператор if-else, циклы while и for

# Условия

Условия – это, наверное, душа программирования. Мы очень часто хотим, чтобы наша программа работала по-разному в зависимости от происходящего. Алгоритмы, использующие условия, называют разветвляющимися, и для их понимания очень удобно рисовать блок-схемы (нет, они не остались в школе, если в коде много условий и разных действий по-прежнему очень помогает нарисовать на бумаге дерево). 

![](https://github.com/hse-econ-data-science/dap_2021_spring/blob/main/sem02_forif/flowchart.png?raw=true)

**Условия (if)** позволяют выполнять код только в случае истинности какого-то логического выражения.

Проще говоря, "если верно, что..., то сделать ...".

Самый простой пример использования if - это вывод какой-то фразы по условию.

In [ ]:
if condition:
    # code block

In [1]:
x = 1
if x == 1:  # Выражение равно True, это условие истинное
    print('That is true!')  # Фраза выводится

That is true!

In [2]:
x = 10
if x == 1:  # Выражение равно True, это условие истинное
    print('That is true!')  # Фраза выводится

In [3]:
x == 1

False

In [4]:
if x != 1:  # Выражение равно False, это условие ложное
    print('That is true!')  # Фраза не выводится

That is true!

Обратите внимание, что код, который находится внутри условия, **выделяется отступом** в 4 пробела или табуляцией (работает не во всех IDE, но в Jupyter все будет хорошо).

Иначе программа не поймет, что он относится к условию.

In [8]:
if x == 1:
    print('That is true!')

А что делать, если в том случае, когда условие не истинное, мы тоже хотим совершать какое-то действие? Для этого у нас есть ключевое слово **else ("то")**.

In [11]:
x = 0
if x == 1:
    print('That is true!')
else:
    print('That is false!')

That is false!

Мы разобрались, как поступать, если у нас два варианта действий, но их может быть и больше.

Для примера давайте решим простую задачу - найти минимум из двух введенных чисел. Пока ничего нового:

In [19]:
a = input('Введите первое число: ')

Введите первое число: 4.5

In [20]:
a

'4.5'

In [22]:
float(a)

4.5

In [24]:
a = float(input('Введите первое число: '))
b = float(input('Введите второе число: '))

if a < b:
    min_n = a
else:
    min_n = b
print('Минимум равен', min_n)

Введите первое число: 4
Введите второе число: 4
Минимум равен 4.0

А теперь усложним задание, добавив третий вариант развития событий - если числа равны, будем печатать *'Равные числа'*.

Можно решить эту задачу с помощью вложенных условий:

In [29]:
a = input('Введите первое число: ')
b = input('Введите второе число: ')

if a < b: 
    print(a)
else:
    if a > b: # обратите внимание, здесь одно условие находится внутри другого, и код ниже будет писаться после двойного отступа
        print(b)
    else:
        print('Равные числа:', a)

Введите первое число: 1
Введите второе число: 2
1

```python
if cond1:
    # if cond1 is True
elif cond2:
    # if cond1 is False, but cond2 is True
elif cond3:
    # if cond1 and cond2 are False, but cond3 is True
else:
    # if cond1, cond2, cond3 are False
```

Неплохо, но можно упростить это решение с помощью конструкции **else if (или elif)**, которая позволяет в случае ложности условия сразу же написать еще одну проверку.

Вот как будет выглядеть решение нашей задачи с помощью elif:

In [7]:
a = input('Введите первое число: ')
b = input('Введите второе число: ')
a = 2
b = 2

if a < b: 
    print(a)
elif a > b: 
    print(b)
else:
    print('Равные числа:', a)

Введите первое число: 3
Введите второе число: 3
Равные числа: 3

# Задачи для тренировки

### Распродажа

В магазине проходит акция:
* На все товары дешевле 1000 рублей скидка 15%
* На все товары дороже 1000, но дешевле 5000 рублей скидка 20%
* На все товары дороже 5000 рублей скидка 25%

**Ввод**  
Целое неотрицательное число - цена товара в рублях

**Вывод**  
Целое неотрицательное число - скидка на товар в рублях

In [37]:
# место для решения
price = int(input('Введите сумму товара: '))

if price <= 1_000:
    disc = price * 0.15
elif price >= 5_000:
    disc = price * 0.25
else:
    disc = price * 0.2

print(disc)

Введите сумму товара: 2500
500.0

## Хитрости умножения  

Для умножения двузначного числа на 11 есть интересная хитрость: результат произведения можно получить если между первой и второй цифрой исходного числа вписать сумму этих цифр. Например, 15 * 11 = 1 1+5 5 = 165 или 34 * 11 = 3 3+4 4 = 374. Реализуйте программу, которая умножала бы двузначные числа на 11, используя эту хитрость. Пользоваться оператором умножения нельзя.  

__Формат ввода:__  
Вводится двузначное число.  
__Формат вывода:__  
Программа должна вывести ответ на задачу.  

**Тест 1**  
__Пример ввода:__  
15   
__Вывод:__  
165  

**Тест 2**  
__Пример ввода:__   
66      
__Вывод:__   
726

In [9]:
# ваше решение здесь

# Цикл while

Довольно часто задачи требуют от нас несколько раз выполнить однотипный код.

Если писать несколько раз одни и те же строки, это загромождает программу. Иногда несколько раз превращается в много (100 или 10000).
А иногда это число вообще зависит от параметров ввода.

Справиться с этим помогают **циклы**. На этом семинаре мы поработаем с циклом **while (пока)**

Прицип использования цикла while: записываем логическое выражение и некоторый код. Код будет выполняться до тех пор, пока логическое выражение верно.

Например, давайте напечатаем все целые числа от 1 до 10.

In [10]:
i = 1 
while i <= 10:
    print(i) 
    i += 1

1
2
3
4
5
6
7
8
9
10

Здесь мы использовали запись i += 1. Она эквивалентна i = i + 1.  
Аналогично можно записывать и другие арифметические операции: например, -=

Обратите внимание, что код внутри цикла (тот, который мы хотим повторно выполнять), выделяется отступом.

## Операторы break и continue.

Циклами можно управлять с помощью операторов **break**, **continue**.

**Break** внутри цикла позволяет прервать его выполнение и сразу же перейти к коду, который идет после цикла (либо завершить программу).  

В этом случае мы можем написать сразу после цикла секцию **else** (синтаксис при этом такой же, как и в условиях).  
Код, написанный после **else**, будет выполняться, если цикл завершился "естественным путем" (т.е. не был прерван с помощью break).

### Задача

Рассмотрим пример задачи, которую можно решить с использованием break. 

Пусть студент сдал 5 предметов во время сессии и мы хотим узнать, есть ли у него пересдачи

**Формат ввода**  
До пяти оценок от 1 до 10

**Формат вывода**  
Если хотя бы одна из оценок меньше 4, завершаем программу и печатаем 'YES' (пересдачи есть)  
Если все пять оценок больше 3, печатаем 'NO' (студент закрыл сессию без пересдач)

In [11]:
i = 1
while i <= 5:
    mark = int(input("Введите оценку: "))
    if mark < 4:
        print('YES')
        break
    i += 1
else: # else находится на том же уровне отступа, что и while, поэтому относится именно к циклу, а не к условию внутри цикла
    print ('NO')

Введите оценку: 6
Введите оценку: 7
Введите оценку: 3
YES

Оператор **continue** позволяет сразу же перейти на новую итерацию цикла, не выполняя код, который написан внутри цикла ниже его.

Изменим условие задачи - теперь будем считать количество пересдач у студента

In [12]:
i = 1
retakes = 0
while i <= 5:
    mark = int(input("Введите оценку: "))
    i += 1
    if mark >= 4: # если пересдачи нет, сразу же идем проверять переменную i, без увеличения переменной retakes
        continue
    retakes += 1
print("Итого пересдач:", retakes)

Введите оценку: 5
Введите оценку: 2
Введите оценку: 7
Введите оценку: 8
Введите оценку: 3
Итого пересдач: 2

Операторами break и continue не стоит злоупотреблять, это может ухудшить читаемость кода.

Например, в предыдущем примере мы бы справились и без continue:

In [13]:
i = 1
retakes = 0
while i <= 5:
    mark = int(input("Введите оценку: "))
    i += 1
    if mark < 4:
        retakes += 1
print("Итого пересдач:", retakes)

Введите оценку: 5
Введите оценку: 6
Введите оценку: 7
Введите оценку: 1
Введите оценку: 7
Итого пересдач: 1

## (∩｀-´)⊃━☆ﾟ.*･｡ﾟ Задача
Вася начал бегать и в первый день он пробежал X километров и выдохся. Вася поставил себе цель Y километров и решил узнать, когда он ее достигнет, если каждый день будет бегать дистанцию на 10% больше, чем в предыдущий.

**Формат ввода**

Программа получает на вход целые числа X, Y

**Формат вывода**

Одно целое число (день, когда Вася пробежит свою цель)

**Примеры**  
**Ввод:**  
10  
21

**Вывод:**  
9

In [14]:
# ваше решение здесь

## (∩｀-´)⊃━☆ﾟ.*･｡ﾟ Задача

## Cложные проценты
Процентная ставка по вкладу составляет P процентов годовых, которые прибавляются к сумме вклада через год. Вклад составляет X рублей Y копеек. Дробное число копеек по истечении года отбрасывается. Выведите величину вклада в рублях.

**Формат ввода**

Программа получает на вход целые числа P, X, Y, K.

**Формат вывода**

Программа должна вывести два числа: величину вклада через K лет в рублях и копейках. Перерасчет суммы вклада (с отбрасыванием дробных частей копеек) происходит ежегодно.

**Примеры**  
Тест 1  
**Входные данные:**  
12  
179  
0  
5  

**Вывод программы:**  
315 43

Тест 2  
**Входные данные:**  
13  
179  
0  
100  

**Вывод программы:**   
36360285 50

Тест 3  
**Входные данные:**   
1  
1  
0  
1000  

**Вывод программы:**  
11881 92

In [39]:
# ваше решение здесь

## List

In [40]:
l = [10, 15, -4, -20]

In [41]:
type(l)

list

In [42]:
print(l)

[10, 15, -4, -20]

In [43]:
sum(l)

1

In [44]:
len(l)

4

In [46]:
l[1]

15

In [47]:
l[-1]

-20

In [48]:
l[-4]

10

In [49]:
print(l)

[10, 15, -4, -20]

In [51]:
l[2] = 0

In [52]:
print(l)

[10, 15, 0, -20]

In [53]:
l[3] = l[3] + 5

In [54]:
print(l)

[10, 15, 0, -15]

In [55]:
l[3] += 5

In [56]:
print(l)

[10, 15, 0, -10]

In [57]:
l = [10, 15, -4, -20, -54, 100, -2]

In [58]:
l

[10, 15, -4, -20, -54, 100, -2]

In [63]:
l[1:3]

[15, -4]

In [64]:
l[:3]

[10, 15, -4]

In [65]:
l[3:]

[-20, -54, 100, -2]

In [67]:
l

[10, 15, -4, -20, -54, 100, -2]

In [71]:
l[::2]

[10, -4, -54, -2]

In [72]:
l[1::2]

[15, -20, 100]

In [73]:
l[::-1]

[-2, 100, -54, -20, -4, 15, 10]

In [74]:
print(l)

[10, 15, -4, -20, -54, 100, -2]

In [75]:
l.append(50)
l

[10, 15, -4, -20, -54, 100, -2, 50]

In [76]:
l.insert(1, 2)
l

[10, 2, 15, -4, -20, -54, 100, -2, 50]

In [77]:
l.sort()

In [79]:
l.sort(reverse=True)

In [80]:
l

[100, 50, 15, 10, 2, -2, -4, -20, -54]

In [81]:
?l.pop

In [82]:
l = ["asdfjk", 1, 1.423, False, True]

In [84]:
l = [
    [1, 2, 3],
    [2, 10, 2],
]

In [89]:
l[0]

[1, 2, 3]

In [88]:
l[0][1]

2

## Функция range

Давайте решим задачу - на вход подается число N, нужно сгенерировать список от 1 до N.

In [16]:
i = 1
myList = []
N = int(input())

while i <= N:
    myList.append(i)
    i += 1
    
print(myList)

5
[1, 2, 3, 4, 5]

Неплохо, но python предлагает нам готовое решение - встроенную функцию range().

range(N) возвращает диапазон чисел от 0 до N - 1.

In [17]:
myRange = range(10)
print(myRange[0], myRange[8], myRange[-1])

0 8 9

Есть одно но - range возвращает не список и не кортеж, это становится понятно, если попробовать напечатать результат.

In [18]:
print(myRange)
print(type(myRange))

range(0, 10)
<class 'range'>

Выручает старое доброе преобразование типов.

In [19]:
print(list(myRange))
print(tuple(myRange))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

Функция range ведет себя очень похоже на срезы.  
range(N, M) вернет диапазон от N до M - 1.  
range(N, M, i) вернет диапазон от N до M - 1 с шагом i.

In [20]:
print(list(range(1, 5)))
print(list(range(1, 10, 2)))
print(list(range(-5, -1)))
print(list(range(-5, -10, -2)))

[1, 2, 3, 4]
[1, 3, 5, 7, 9]
[-5, -4, -3, -2]
[-5, -7, -9]

## Цикл for

In [91]:
l = [10, 15, -4, -20]
l

[10, 15, -4, -20]

In [95]:
"asdf" + 2

TypeError: can only concatenate str (not "int") to str

In [94]:
"asdf" * 2

'asdfasdf'

In [97]:
l * 2

[10, 15, -4, -20, 10, 15, -4, -20]

In [108]:
l = [10, 15, -4, -20]
l

[10, 15, -4, -20]

In [109]:
l[0] = l[0] + 1
l[1] = l[1] + 1
l[2] = l[2] + 1
l[3] = l[3] + 1

In [110]:
l

[11, 16, -3, -19]

In [ ]:
i = 0
l[i] = l[i] + 1

i = 1
l[i] = l[i] + 1

i = 2
l[i] = l[i] + 1

i = 3
l[i] = l[i] + 1

In [111]:
l = [10, 15, -4, -20]
l

[10, 15, -4, -20]

In [112]:
for i in range(100):
    l[i] = l[i] + 1
print(l)

In [119]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [120]:
list(range(5, 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [121]:
list(range(5, 20, 2))

[5, 7, 9, 11, 13, 15, 17, 19]

Мы уже умеем писать циклы с помощью оператора while, но теперь мы готовы познакомиться с еще одним способом. 

Давайте вспомним про наш список студентов и выведем их имена по очереди. Для начала уже знакомым способом.

In [21]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

i = 0
while i < len(students):
    print(students[i])
    i += 1

Ivan Ivanov
Tatiana Sidorova
Maria Smirnova

А теперь напишем то же самое с помощью цикла for.

Теперь мы будем перебирать список students, доставая из него по одному элементу.

In [22]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

for student in students:
    print(student)

Ivan Ivanov
Tatiana Sidorova
Maria Smirnova

В примере выше на каждом шаге цикл for достает очередной элемент из списка students и сохраняет его в переменную student.

Обратите внимание, что переменную student нам не надо создавать заранее, она создается прямо во время работы цикла.

Получившийся код гораздо короче и проще варианта с использованием while.

Цикл for может перебирать и элементы range, это дает нам еще один способ решения задачи.

In [23]:
students = ['Ivan Ivanov', 'Tatiana Sidorova', 'Maria Smirnova']

for i in range(len(students)): # здесь не надо преобразовывать range в список или кортеж
    print(students[i])

Ivan Ivanov
Tatiana Sidorova
Maria Smirnova

Цикл for может перебирать и кортежи, и даже строки.

In [24]:
myStr = 'Hello'

for char in myStr:
    print(char)

H
e
l
l
o

# Задача

Пройтись в цикле по элементам списка и посчитать их сумму.

**Формат ввода**

Программа получает на вход числа через пробел.

**Формат вывода**

Сумма элементов списка.

In [124]:
l = [10, 15, 4, 20]
l

[10, 15, 4, 20]

In [125]:
s = 0

for num in l:
    s = s + num

print(s)

49

# Задача

Выведите значение наименьшего из всех положительных элементов в списке. Известно, что в списке есть хотя бы один положительный элемент, а значения всех элементов списка по модулю не превосходят 1000.

**Формат ввода**

Вводится список чисел. Все числа списка находятся на одной строке.

**Формат вывода**

Выведите ответ на задачу.

**Пример 1**

**Ввод**

5 -4 3 -2 1

**Вывод**

1

**Пример 2**

**Ввод**

10 5 0 -5 -10

**Вывод**

5

**Пример 3**

**Ввод**

-1 -2 -3 -4 100

**Вывод**

100

In [130]:
l = [-100, -10, 0, 2, 4]

In [131]:
min(4, 10)

4

In [132]:
cur_min = l[0]

for num in l:
    if num > 0:
        cur_min = min(cur_min, num)

print(cur_min)

-100

In [135]:
cur_min is None

False

In [136]:
cur_min == None

False

In [137]:
cur_min = None

for num in l:
    if num > 0:
        if cur_min is None:
            cur_min = num
        cur_min = min(cur_min, num)

print(cur_min)

2